name: Pytest Check

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install GMT
        run: sudo apt-get update && sudo apt-get install -y gmt libgmt-dev ghostscript
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Run tests
        run: |
          # Prevent automatic loading of plugins to avoid dependency issues (zarr)
          PYTEST_DISABLE_PLUGIN_AUTOLOAD=1 \ 
          pytest tests 